<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="mainForm">
            <p:commandLink id="menuTrigger"
                    value="Open slide menu"
                    style="background: #{backingBean0.background};">
                <p:ajax listener="#{backingBean0.listener0()}"
                        update="menuTrigger"/>
            </p:commandLink>
            <p:slideMenu id="slideMenu"
                    trigger="menuTrigger"
                    overlay="true"
                    triggerEvent="click"
                    my="left top"
                    at="left bottom"
                    style="width:180px;">
                <p:menuitem id="menuItem1"
                        value="Menu item 1"/>
            </p:slideMenu>
            <p:outputLabel id="menuHideLabel"
                    value="Hide slide menu"/>
        </h:form>
    </h:body>
</html>

